<app-dashboard titulo="Perfil"></app-dashboard>

<div class=" text-white daily-content">
    <div class="add">
        <button class="text-white fw-bold">
            <i class="fa-solid fa-location-arrow"></i>
            <span>editar perfil</span>
        </button>
        <img src="assets/img/twincat.gif" alt="">
    </div>
    <div class="d-flex">
    <div class="box" >
        <div class="content">
            <ul >
                <li class="fecha-h"><h5>CamQuim</h5></li>
                <li><h5>silver</h5></li>
                <li><h5>23 años</h5></li>
                <div class="d-flex justify-content-start  px-4 ">
                </div>
            </ul>
        </div>
        </div>
        <div class="box" >
        <div class="content">
            <ul >
                <li class="fecha-h"><h5></h5></li>
                <li> <h5>medalla horizon zero down</h5></li>
                <li> <h5>valkiria killer in god of war 4</h5></li>
                <div class="d-flex justify-content-start  px-4 ">
                </div>
            </ul>
        </div>
        </div>


    </div>

</div>
