<section>
    <div class="container-nav">
        <header>

            <a href="" ><img src="assets/img/logotipoBlanco.png" alt="" class="logo"></a>
            <ul>

                <li><a href="" class="active">Home</a></li>

                <li><a href="" routerLink="/ingreso">login</a></li>


            </ul>
        </header>
        <div class="content">
            <!-- <h2>My Diary</h2> -->
            <img src="assets/img/MyDiary.png" alt="">
            <p>My diary es lo que toda chica gamer necesita, registrate y crea tu propio diario gamer</p>

            <button class="btn-land" routerLink="/registro">
                <span></span>
                <span></span>
                <span></span>
                <span></span> registrate!
              </button>
        </div>
        <div class="imgBx">
            <img src="assets/img/watito.png" alt="watito">
        </div>

    </div>

</section>
