<section>
    <div class="container-404">
        <header>

            <a href="" ><img src="assets/img/logotipoBlanco.png" alt="" class="logo"></a>
            <ul>

                <li><a href="#" class="active">404</a></li>



            </ul>
        </header>
        <div class="content">

            <img src="assets/img/404! you are lost.png" alt="">
            <p>Stop using drugs! back to home :v</p>

            <button class="btn-land" routerLink="" routerLinkActive="router-link-active" >
                <span></span>
                <span></span>
                <span></span>
                <span></span> back to Home
              </button>
        </div>
        <div class="imgBx">
            <img src="" alt="">
        </div>

    </div>

</section>

