*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        overflow: hidden;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-image:url('https://i.pinimg.com/originals/99/8e/05/998e055aba57c24138220937cc5166ab.gif') ;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 50px;

    }
    .box{
        position: relative;
    }


    .container-log{
        position: relative;
        width: 400px;
        min-height: 400px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        display: flex;
        align-items: center;
        backdrop-filter: blur(10px);
        box-shadow: 0 25px 45px rgba(0,0,0,0.1);
        border: 1px solid rgba(255, 255, 255,0.5);
        border-right: 1px solid rgba(255, 255, 255,0.2);
        border-bottom: 1px solid rgba(255, 255, 255,0.2);
    }
    .form{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 40px;
    }
    .form h2{
        position: relative;
        color: #ffff;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 40px;

    }
    .form h2::before{
        content:'';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 80px;
        height: 4px;
        background: #fff;
    }

    .form .inputBox{
        width: 100%;
        margin-top: 20px;
    }
    .form .inputBox input{
        width: 100%;
        background: rgba(255, 255, 255,0.2);
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 35px;
        border: 1px solid rgba(255, 255, 255,0.5);
        border-right: 1px solid rgba(255, 255, 255,0.2);
        border-bottom: 1px solid rgba(255, 255, 255,0.2);
        font-size: 16px;
        letter-spacing: 1px;
        color: #fff;
        box-shadow: 0 5px 15px rgba(255, 255, 255,0.5);
    }
    .form .inputBox input::placeholder{
        color: #ffff;
    }
    .form .inputBox input[type="submit"]{
        background: #fff;
        color: #666;
        cursor:pointer;
        margin-bottom: 20px;
        font-weight: 600;

    }
    .forget{
        margin-top: 5px;
        color: #fff;
    }

    button {
        --glow-color: rgb(250, 197, 255);
        --glow-spread-color: rgba(255, 204, 247, 0.781);
        --enhanced-glow-color: rgb(231, 206, 255);
        --btn-color: rgb(130, 61, 136);
        border: .25em solid var(--glow-color);
        padding: 1em 3em;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        background-color: var(--btn-color);
        border-radius: 1em;
        outline: none;
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
        text-shadow: 0 0 .5em var(--glow-color);
        position: relative;
        transition: all 0.3s;
       }

       button {
        padding: 1.3em 3em;
        font-size: 15px;
        font-weight: 500;
        color: rgb(255, 46, 185);
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
       }

       button:hover {
        --glow-color: rgb(253, 237, 251);
        --glow-spread-color: rgba(191, 123, 255, 0.781);
        --enhanced-glow-color: rgb(252, 228, 248);
        --btn-color: rgb(255, 130, 238);
        color: var(--btn-color);
        background-color: var(--glow-color);
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 2em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
        transform: translateY(-7px);
       }

       button:active {
        transform: translateY(-1px);
       }
