<section>
    <div class="box">
        <div class="container-log">
            <div class="form">
                <h2>Gracias por registrarte!</h2>
                <form>
                    <div class="inputBox">
                        <input type="text" formControlName="user" placeholder="name">

                    </div>
                    <div class="inputBox">
                        <input type="email" formControlName="user" placeholder="email">

                    </div>
                    <div class="inputBox">
                        <input type="password" formControlName="pass"  placeholder="password">

                    </div>
                    <div class="inputBox">
                        <input type="password" formControlName="pass"  placeholder="confirm password">

                    </div>
                    <div class="inputBox">
                        <button class="login-buton" type="submit" routerLink="/dashboard" >
                            <span>Ingresar</span>
                        </button>
                    </div>
                    <p class="forget">Forgot password?</p>
                </form>
            </div>
        </div>
    </div>
</section>
