<app-dashboard titulo="{{ titulo_formulario }}"></app-dashboard>

<div class="container-form">
<form class="row g-4 container-log text-center" [formGroup]="dailyForm" (ngSubmit)="infoDaily()">
     <h1 class="text-light fs-3 text-center fw-bold">{{ titulo_formulario }}</h1>
    <div class="row justify-content-center">
      <label for="titulo" class="form-label text-light">Titulo</label>
      <input type="text" formControlName="titulo" class="form-control" >
      <p class="fw-bold text-danger w-100 text-center pt-2" *ngIf="dailyForm.get('titulo')?.hasError('required') && dailyForm.get('titulo')?.touched">
        este campo es requerido
    </p>
    </div>
    <div class="row justify-content-center">
      <label for="descripcion" class="form-label text-light">Descripcion</label>
      <input type="text" formControlName="descripcion" class="form-control" >
      <p class="fw-bold text-danger w-100 text-center pt-2" *ngIf="dailyForm.get('descripcion')?.hasError('required') && dailyForm.get('descripcion')?.touched">
        este campo es requerido
    </p>
    </div>
    <div class="row justify-content-center">
      <label for="nota" class="form-label text-light">Nota</label>
      <input type="text" formControlName="nota" class="form-control">
      <p class="fw-bold text-danger w-100 text-center pt-2" *ngIf="dailyForm.get('nota')?.hasError('required') && dailyForm.get('nota')?.touched">
        este campo es requerido
    </p>
    </div>



    <div class="col-12">
      <button type="submit"><i class="fa-solid fa-location-arrow "></i>
        <span>Añadir</span></button>
    </div>
  </form>
</div>


